# Node.js dependencies
node_modules/

# Build output
build/
dist/

# dotenv environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.pnp.*
.vite/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/

# Misc
*.bak
