.login_page_parent_bg{
  background-color: black;
    padding: 3.125rem 6.25rem;;

}

.login_page_parent_small_bg{
    background: #202020;
    border-radius: .625rem .625rem .625rem .625rem;
    align-items: center;
    padding: 10rem 6.25rem;
}

.login_page_small_div_content_h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsla(0, 0%, 100%, .8);
    padding-bottom: 6%;
}

.login_page_small_div_content_email{
    padding-bottom: 2%;
    font-size: .875rem;
    font-weight: 400;
    color: #fff;
}

.login_page_small_div_content_password{
    padding-top: 9%;
    padding-bottom: 2%;
    font-size: .875rem;
    font-weight: 400;
    color: #fff;
}


.login_page_small_div_content_login_input{
    width: 100%;
    background-color: transparent;
    line-height: 3.4rem;
    border-radius: .625rem .625rem .625rem .625rem;
    border: 0.13rem solid #474d57;
    font-size: 13px;
    text-indent: 1em;
    color: white;
}

.login_page_small_div_content-form{
    width: 32%;
}

.login_page_small_div_content_password_input{
    width: 100%;
    background-color: transparent;
    line-height: 3.4rem;
    border-radius: .625rem .625rem .625rem .625rem;
    border: 0.13rem solid #474d57;
}

.login_page_small_div_content_submit_input{
    width: 100%;
    margin: 2.5rem 0 1.875rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    background-color: #c05bdd;
    color: #fff;
    height: 3.75rem;
    line-height: 3.75rem;
    border-radius: .625rem .625rem .625rem .625rem;
}

.login_page_small_div_content_footer{
    display: flex;
    justify-content: space-between;
    
}

.login_page_small_div_content_footer > a{
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 1.25rem;
}

.login_page_small_div_content_banner{
    width: 31.25rem;
    height: 300px;
}

.login_page_small_div_content_parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-email-error{
    width: 100%;
    background-color: transparent;
    line-height: 3.4rem;
    border-radius: .625rem .625rem .625rem .625rem;
    border: 0.13rem solid #f56c6c;
    font-size: 17px;
    color: white;
    text-indent: 1em;
}

.input-login-error{
    width: 100%;
    background-color: transparent;
    line-height: 3.4rem;
    border-radius: .625rem .625rem .625rem .625rem;
    border: 0.13rem solid #f56c6c;
    color: white;
    text-indent: 1em;
    font-size: 17px;

}

.login_errors_massages{
    color: #f56c6c;
    font-size: 13px;
    padding-top: 1.5%;
}