body {
  margin: 0;
  background: #010612;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  margin-bottom: 16%;
}

/* SEARCH */
.search-bar {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  background: #0b1838;
}
.search-bar input {
  width: 90%;
  max-width: 480px;
  padding: 10px 14px;
  border-radius: 25px;
  border: 1px solid #93b3f9;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: space-around;
  color: #93b3f9;
  background: #0b1838;
  font-size: 16px;
  padding-top: 8px;
  transition: all 0.3s ease;
}

.tab {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.tab.active {
  color: white;
  border-bottom: 2px solid #106cf5;
}

/* QUOTES TABLE */
.quotes-box {
  flex-grow: 1;
  background: white;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  color: #111418;
  transition: all 0.3s ease;
}

.quotes-header,
.quotes-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 18px;
 
}

.quotes-header {
  font-weight: bold;
  color: #656e7b;
  border-bottom: 1px solid #eee;
  margin-bottom: 6px;
  margin: 0 auto;
  width: 88%;
}

.quotes-row {
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
}

.quotes-row div {
  width: 33%;
  text-align: center;
}

.green {
  color: #37b66a;
}

.red {
  color: #e53858;
}

/* BOTTOM NAV */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #999;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;
}

.bottom-nav div.active {
  color: #106cf5;
}

.bottom-nav img {
  width: 25px;
  height: 25px;
  margin-bottom: 4px;
}
