*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    color: #5c5d5e;
    user-select: none;
    line-height: 1.2;
    word-break: break-word;
}

.home_header_navigation_leftside,.home_header_navigation_rightside{
    width: 32%;
    align-content: center;
}

.home_header_navigation_leftside_ul,.home_header_navigation_rightside_ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home_header_navigation_leftside_link{
    color:hsla(0,0%,100%,.6)
}

.home_header_navigation_rightside_link{
        color: #fff;
}
.home_header_navigation_rightside_link_a{
        color: #fff;
}
.home_header_navigation_rightside_link_download{
        color: #fff;
}

.home_header_navigation{
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.home_header_navigation_rightside_register{
        padding: 5px 17px;
        color:#fff;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s;
        background: #c05bdd;
}

.home_header_navigation_rightside_link_contactus_li{
    display: flex;
    align-items: center;
}

.home_header_navigation_rightside_link_contactus_li > figure > img{
    padding-right: 10px;
    padding-top: 7px;
}

.home_header_navigation_rightside_link_english_logo{
    width: 1.25rem;
}

.home_header_navigation_leftside_link > img{
    padding-top: 7px;
}

