.modal-overlay_user_errors {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content_user_errors {
  background: #202020;;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 73%;
}
.modal-content_user_errors > button{
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 6px 15px;
  margin-top: 20px;
}

.modal-content_user_errors > p,h3{
    color: white;
    font-size: 17px;
    padding-top: 2%;
}

.modal-content_user_errors h3 {
  margin-top: 0;
}

