.home_section1_parent{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: black;
}

.home_section1_h1{
    font-size: 4rem;
    color:#fff;
}

.home_section1_p,.home_section1_h2 {
    font-size: 3.125rem;
    font-weight: 700;
}

.home_section1_p{
    color: #c05bdd;
}

.home_section1_small_div{
    padding-left: 5%;
    padding-top: 10%;
}

.home_section1_h2{
    padding-top: 1%;
    color: white;
}

.home_section1_sign_up_btn{
    display: flex;
    justify-content: center;
    width: 12.5rem;
    height: 3.25rem;
    margin-top: 3.75rem;
    background-color: #c05bdd;
    border-radius: .25rem;
    font-size: 1rem;
    color: #fff;
    line-height: 3.25rem;
    text-align: center;
    cursor: pointer;
}